/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url(https://fonts.googleapis.com/css?family=Wix+Madefor+Text:regular,500,600,700,800,);
@import url(https://fonts.googleapis.com/css?family=Alumni+Sans:regular,500,600,700,800);

$headerHeight: 80px;
// colors
$head: #2D3047;
$primary: #A3887B;
$hover: #8C6659;
$backLight: #FFFBF9;
$backDark: #EDE7E5;
$stroke: #DACFCA;
$mainText: #556877;
$card: #FFFFFF;

$width: 1170px;
$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (min-width: 768px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
	@media (max-width: 768px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
}

body {
   font-family: Wix Madefor Text;
   background-color: white;
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

.container {
   padding: 40px 20px;
   max-width: $width;
   margin: 0 auto;
}

.title-block {
	font-family: Alumni Sans;
	font-weight: 700;
	color: $head;
	margin-bottom: 40px;
	line-height: 100%;
	font-size: clamp(45px, 5vw, 80px);
}

.text-main {
	font-size: 18px;
   font-weight: 400;
   line-height: 140%;
   color: $mainText;
   flex: 1 0 auto;
}

.border {
	&__tl,
   &__tr,
   &__bl,
   &__br {
      height: 40px;
      width: 40px;

      @media (min-width: 768px) {
         transition: all 0.45s;
      }
   }

   &__tl {
      position: absolute;
      top: 0;
      left: 0;
      border-left: 1px solid $stroke;
      border-top: 1px solid $stroke;
   }

   &__tr {
      position: absolute;
      top: 0;
      right: 0;
      border-right: 1px solid $stroke;
      border-top: 1px solid $stroke;
   }

   &__bl {
      position: absolute;
      bottom: 0;
      left: 0;
      border-left: 1px solid $stroke;
      border-bottom: 1px solid $stroke;
   }

   &__br {
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 1px solid $stroke;
      border-bottom: 1px solid $stroke;
   }
}

@import "_header", "_main";

._lock {
	overflow-y: hidden;
}